
.main__product--cards{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: center;
}
.plans-container--slider::-webkit-scrollbar {
    display: none;
}
.main-tables-container{
   display: flex;
   width: 930px; 
   margin: 0 auto;
}
.main-tables-container::-webkit-scrollbar {
    display: none;
}
.img-main-section{
    display: flex;
    height: 316px;
    margin-bottom: 30px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}